.container {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 810px) {
	.container {
	 margin: 7px;
	 width: auto;
	}
  }
  