
:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --button-border-radius: 12px;
  --color-background: #f5f7f9;
  --color-button: #526eff;
  --color-text: #111111cc;
  --primary-font-weight: 600;
  --secondary-font-weight: 500;
  --regular-font-weight: 400;
  --secondary-header-size: 1.5rem;
  --secondary-header-line-height: 1.33;
}

body {
  overflow-x: hidden;
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p {
  font-family: var(--font-secondary);
  font-weight: var(--regular-font-weight);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: var(--primary-font-weight);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  line-height: 2rem;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
