@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./reset.css";

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --button-border-radius: 12px;
  --color-background: #F5F7F9;
  --color-button: #526EFF;
  --color-text: #111111CC;
  --header-font-weight: 600;
  --regular-font-weight: 400;
  --main-header-size: 1.75rem;
--main-header-line-height: 1.22;
--secondary-header-size: 1.5rem;
--secondary-header-line-height: 1.33;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  min-height: 100vh;
}

p {
  font-family: var(--font-secondary);
  font-weight: var(--regular-font-weight);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: var(--header-font-weight);
}
/* button {
	 border-radius: var(--button-border-radius);
	 background-color: var(--color-button);
} */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  line-height: 2rem;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
