.container {
  display: flex;
  justify-content: center;
  padding: 58px 80px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  max-width: 990px;
  width: 100%;
  margin: 156px auto;
}

.metrics {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  margin-bottom: 8px;
}
.removeButton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.crest {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  margin-bottom: 24px;
}
.parametrs {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(266px, 320px));
  gap: 16px;
  margin-bottom: 42px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.input {
  padding: 8px;
  border: 1px solid #11111152;
  min-height: 56px;
  border-radius: 8px;
}

.buttonsGroup {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 42px;
}

.button {
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
  cursor: pointer;
  opacity: 20%;
  background-color: var(--color-button);
}

.buttonActive {
  background-color: var(--color-button);
}
.buttonInactive {
  opacity: 20%;
}
.button.active {
  background: var(--color-button);
  color: #fff;
}

.section {
  overflow: hidden;
  margin-bottom: 73px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}
.addButton:hover {
  opacity: 100%;
}

.icon {
  width: 16px;
  height: 16px;
}

.submitButton {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonSection {
  max-width: 266px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px dashed var(--color-button);
  padding: 39px 66px;
}
.addButton {
  border-radius: 100px;
  padding: 10px;
  opacity: 20%;
  background-color: var(--color-button);
}

.small {
  width: 74px;
}

.medium {
  width: 142px;
}

.large {
  width: 180px;
}

/* Okno */

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.windowContainer {
  display: flex;
  gap: 20px;
}

.windowItem {
  position: relative;
  flex: 1 1 calc(33.333% - 16px);
  max-width: 266px;
  border-radius: 8px;
  padding: 12px 18px;
  border: 1px dashed var(--color-button);
  height: auto;
}
.buttons {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

.windowTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 26px;
}

.windowSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.removeButton img {
  margin-top: 4px;
}

.windowField {
  margin-top: 8px;
  max-width: 107px;
  border-radius: 8px;
  border: 1px solid #11111152;
  padding: 16px;
}
.windowField:hover {
  border: 1px solid #1111117a;
}

/* 
result
*/

.results {
  width: 100%;
  border-radius: 18px;
  padding: 42px 52px;
  background-color: var(--color-button);
  max-width: 830px;
  margin-top: 58px;
}

.resultsTitle {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 24px;
  color: #ffffff;
}

.resultsText {
  font-size: 1.5em;
  line-height: 2rem;
  font-weight: var(--primary-font-weight);
  color: #ffffff;
}

.resultValue {
  font-weight: var(--secondary-font-weight);
  color: #ffffffa3;
}

.resultSection {
  display: flex;
  gap: 54px;
  margin-bottom: 32px;
}

.resultsSubtitle {
  color: #ffffffa3;
  margin: 0;
}

.resultContainer {
  display: flex;
  flex-direction: column;
}

.resetButton {
  background-color: #ffffff;
  color: var(--color-button);
  border: none;
  padding: 15px 32px;
  border-radius: 12px;
  cursor: pointer;
}

.catalogButton {
	width: 100%;
  background-color: #ffffff;
  color: #5acd66;
  border: none;
  padding: 15px 32px;
  border-radius: 12px;
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}

@media (max-width: 850px) {
  .container {
    padding: 22px 28px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
  .metrics {
    display: flex;
    flex-direction: column;
  }
  .section {
    margin-bottom: 0;
  }
  .items {
    display: flex;
    flex-direction: column;
  }
  .buttonSection {
    margin-bottom: 42px;
  }
  .resultSection {
    display: flex;
    flex-direction: column;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: column;
  }
  .resetButton, .catalogButton {
	padding: 15px 17px;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .container {
    margin: 50px auto;
  }
  .items {
    flex-direction: row;
  }
}
