.block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 7px;
}

.container {
  max-width: 796px;
  padding: 58px 60px;
  border-radius: 18px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
	align-self: flex-start;
	font-size: var(--main-header-size);
	line-height: var(--main-header-line-height)
}

.description {
	margin-top: 18px;
	font-size: 1.375rem;
	line-height: 1.75rem;
}

.button {
	margin-top: 48px;
	border-radius: 12px;
	background-color: #526EFF;
	min-width: 296px;
	width: 100%;
	max-width: 320px;
	min-height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.buttonText {
	font-size: 1rem;
	line-height: 24px;
	font-weight: 500;
	color:#FFFFFF;
}

.image {
	max-width: 22px;
	height: auto;
	margin-right: 5px;
}