.container {
  max-width: 796px;
  padding: 58px 60px;
  border-radius: 18px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  align-self: flex-start;
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.description {
  margin-top: 18px;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.button {
  margin-top: 48px;
  border-radius: 12px;
  background-color: #526eff;
  min-width: 296px;
  width: 100%;
  max-width: 320px;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.buttonText {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
}

.image {
  max-width: 22px;
  height: auto;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .description {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .header {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
